---
layout: default
title: Projects
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
<article>
    <h1 font-size="28px" margin-bottom="8px" margin-top="30px" align="left">
    The YTEditor
</h1>

<p>Built with <a href="https://www.qt.io/">Qt</a>, the YTEditor is a level editor for a 3D component-based game engine.</p>

<iframe width="600" height="400"
  src="https://www.youtube.com/embed/iZywiUdcLMs">
</iframe>

<hr/>

<!--
<h1 font-size="28px" margin-bottom="8px" margin-top="130px" align="left">Perforce GUI</h1>
<p>An application that streamlines the use of Perforce for content creators.</p>

<hr/>
-->

<h1 font-size="28px" margin-bottom="8px" margin-top="130px" align="left">Lamb Planet</h1>
<p>A 3D sailing game focused on exploration and narrative.</p>

<iframe width="600" height="400"
  src="https://www.youtube.com/embed/iTt_W-mqirY">
</iframe>

<!-- please do not remove this line -->
<div style='display:none;'>
<a href='http://www.commercekitchen.com'>ipsum generator</a>
</div>
<!-- end whedon ipsum code -->
</article>
<div class="divider"></div>
<!--<h1 class="top-text">Most Recent Posts</h1>
    {% include postlist.html %}
{% else %}
<h1 class="top-text">More Posts</h1>
    {% include postlist.html %}-->
{% endif %}