---
layout: default
title: About Me
tagline: None
---

{% assign tmp = "/" | append: site.baseurl %}
{% if page.url == tmp or page.url == "/" %}
<article>
    <h1 class="top-text">About Me</h1>

    <p>
        <img class="profile-pic" src="/media/profile_pic.jpg">
        I'm a software engineer currently pursuing a Bachelor of Science in Computer Science and Real-Time Interactive Simulation at <a href=https://www.digipen.edu>DigiPen Institute of Technology</a>.
        I've worked on academic project teams of 8-12 people creating video games in custom game engines written in C++.
    </p>

    <p>
        Most of my project experience is in tools programming, although I have some knowledge of core engine and graphics programming.
        I enjoy diving into a codebase and figuring out how to write tools that work with the existing code.
        Currently I am working on an <a href="http://nickammann.com/projects/">editor</a> for a custom 3D game engine called YTE (Yours Truly Engine).
    </p>

    <p>
        Lately, I have taken an interest in UI/UX design. I am developing a <a href="http://nickammann.com/projects/">GUI for Perforce</a>, targeted towards game developers that might benefit from a directed source control workflow.
    </p>
</article>
<div class="divider"></div>
<!--<h1 class="top-text">Most Recent Posts</h1>
    {% include postlist.html %}
{% else %}
<h1 class="top-text">More Posts</h1>
    {% include postlist.html %}-->
{% endif %}